/* MainContainer.module.css */
.container {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.contentStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.logoSection {
    margin-bottom: 0.5rem;
}

/* Animation keyframes */
@keyframes fireText {
    0% {
        text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
        -20px -20px 40px #ffae34,
        20px -40px 50px #ec760c,
        -20px -60px 60px #cd4606;
    }
    50% {
        text-shadow: 0 0 10px #fefcc9,
        5px -5px 15px #feec85,
        -10px -10px 20px #ffae34,
        10px -20px 25px #ec760c,
        -10px -30px 30px #cd4606;
    }
    100% {
        text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
        -20px -20px 40px #ffae34,
        20px -40px 50px #ec760c,
        -20px -60px 60px #cd4606;
    }
}

@keyframes burn {
    0% {
        filter: brightness(100%) saturate(100%);
        transform: scale(1);
    }
    50% {
        filter: brightness(150%) saturate(150%);
        transform: scale(1.1);
    }
    100% {
        filter: brightness(100%) saturate(100%);
        transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-10%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animatedIcon {
    animation: burn 2s infinite, bounce 2s infinite;
    color: #D35400;
}

.instructionsButton {
    background-color: #F04A00;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.2s ease;
}

.instructionsButton:hover {
    background-color: #B64800;
}


.buttonIcon {
    width: 16px;
    height: 16px;
}